.navbar {
  position: absolute !important;
  width: 100%;
  margin-bottom: 0px !important;
  background: transparent;
  box-shadow: none;
}
.trans-bar{
  background-color: transparent;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.jumbotron {
  background-image: url('./assets/welcome-bg.png');
  min-height: 100vh;
  margin-bottom: 0 !important;
}
.jumbotron > img {
  margin: 100px auto;
}
.carousel{
  background-image: url('./assets/welcome-bg.png');
  min-height: 100vh;
  margin-bottom: 0 !important;
}
.carousel-inner >.item>img{
  margin: 0 auto;
}
.item {
  margin: 100px auto;
  width: 100vw;
  height: auto;
  margin-right: 0;
  text-align: right;
}

.footer {
  text-align: center;
}
.footer .download-buttons {
  text-align: center;
}
.footer .download-buttons img {
  max-width: 200px;
}
.brand-image {
  width: 103px;
  height: 31px;
}
footer {
  padding: 20px;
  text-align: center;
  background-color: #191426;
  color: #868598;
}
