@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

html {
  font-size: 16px !important;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 8px !important;
  }
}

body {
  font-family: 'Nanum Gothic', sans-serif;
  background-image: url('./assets/welcome-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 16px;
}

main {
  padding-top: 100px;
  min-height: 100vh;
}

a:hover {
  text-decoration: none;
}

.navbar {
  position: absolute !important;
  width: 100%;
  margin-bottom: 0px !important;
  background: transparent;
  box-shadow: none;
  z-index: 1;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.title {
  color: white;
  text-align: center;
  font-size: 4rem;
  opacity: 0;
  animation: fade-in 0.7s;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
}

.subtitle {
  color: white;
  text-align: center;
  font-size: 2.5rem;
  opacity: 0;
  animation: fade-in 0.7s;
  animation-delay: 0.6s;
  animation-fill-mode: forwards;
}

.jumbotron > img {
  margin: 100px auto;
}

.carousel {
  margin: 50px auto;
  opacity: 0;
  animation: fade-in 0.7s;
  animation-delay: 0.9s;
  animation-fill-mode: forwards;
}

.carousel-control {
  background-image: none !important;
}

.carousel-inner > .item > img {
  margin: 0 auto;
}
.carousel-inner {
  /*max-width: 100%;*/
}
.carousel-indicators {
  margin-bottom: 0;
}

.item {
  margin: 50px auto;
  width: 100%;
  height: auto;
  margin-right: 0;
  text-align: center;
  color: white;
  font-size: 16px;
}

.download-buttons {
  text-align: center;
  position: relative;
  bottom: 25px;
  opacity: 0;
  animation: fade-in 0.7s;
  animation-delay: 1.2s;
  animation-fill-mode: forwards;
}

.download-buttons img {
  width: 100%;
  max-width: 200px;
}

.brand-image {
  width: 103px;
  height: 31px;
}

footer {
  padding: 20px;
  text-align: center;
  background-color: #191426;
  color: #868598;
  display: block;
  width: 100%;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
