
@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
main {
  padding-top: 100px;
  background-image: url('./assets/welcome-bg.png');
  min-height:100vh;

}

.title {
  color: white;
  text-align: center;
}

.navbar {
  position: absolute !important;
  width: 100%;
  margin-bottom: 0px !important;
  background: transparent;
  box-shadow: none;
  z-index: 1;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.jumbotron > img {
  margin: 100px auto;
}

.carousel {
  margin: 50px auto;
}

.carousel-control {
  background-image: none !important;
}

.carousel-inner > .item > img {
  margin: 0 auto;
 
}
.carousel-inner{
  /*max-width: 100%;*/
}
.carousel-indicators{
  margin-bottom: 0;
}

.item {
  margin: 50px auto;
  width: 100%;
  height: auto;
  margin-right: 0;
  text-align: right;
}

.download-buttons {
  text-align: center;
  position: relative;
  bottom: 25px;
}

.download-buttons img {
  max-width: 30%;
}

.brand-image {
  width: 103px;
  height: 31px;
}

footer {
  padding: 20px;
  text-align: center;
  background-color: #191426;
  color: #868598;
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%
}
.title{
  font-family: "Nanum Gothic", sans-serif;
  font-weight: bold;
}

